.labelContainer {
  border: 0.5mm dashed black;
  border-radius: var(--label-border-radius, 2mm);
  box-sizing: border-box;
  width: var(--label-width, 22mm);
  height: var(--label-height, 12mm);
  display: grid;
  grid-template-columns: minmax(0, 1fr) var(--label-logo-width, 8mm);
  padding: 0.5mm;
  overflow: hidden;
  background: white;
}

.labelBrand {
  font-size: var(--logo-brand-font-size, 6pt);
  font-weight: bold;
}
.labelFilamenttype {
  font-size: var(--logo-filament-font-size, 5pt);
}
.labelFilamentname {
  font-size: var(--logo-filament-font-size, 5pt);
}
.labelLogo {
  box-sizing: border-box;
  object-fit: contain;

  position: absolute;
  --scale: min(var(--label-width, 22mm), var(--label-height, 12mm)) / 12;
  --logo-offset: calc(0.3 * var(--scale));
  max-width: calc(100% - var(--logo-offset));
  max-height: calc(100% - var(--logo-offset));
  right: var(--logo-offset);
  top: var(--logo-offset);
}

.labelLogo.background {
  background-color: var(--label-bg-color, white);
  padding: calc(0.7 * var(--scale));
  border-radius: calc(0.7 * var(--scale));
}

.labelText {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.labelSpacer {
  flex-grow: 1;
}

.logoContainer {
  width: var(--label-logo-width, 8mm);
  height: var(--label-logo-height, 8mm);
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}
